<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<h1>hhhh</h1>
<input type="text" id="content">
<button type="submit" id="btn" onclick="send()">sent</button>
<hr>
<div id="express">

</div>

</body>

<script>


    function getQueryVariable(variable)
    {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }
    let fromid = getQueryVariable('fromid');
    let toid = getQueryVariable('toid');
    let API_URL = 'http://localhost:81/index.php/chat/Chat/';
    let ws = new WebSocket('ws://127.0.0.1:8282');

    ws.onmessage = function (e){
        let message = eval("("+e.data+")");

        switch (message.type) {
            case 'say':
                if (toid == message.fromid){
                    $('#express').append('<p>'+ message.fromid +':'+ message.text+'</p><br>');
                }
                // $('#express').append('<p>'+ message.data+'</p>');
                return;

            case 'init':
                let bind = '{"type":"bind","fromid":"'+ fromid +'"}';
                ws.send(bind);
                return;

            case 'save':
                save_message(message);
                return;
        }
    }
    function send(){
        let text = document.getElementById('content').value;
        let message = '{"data":"'+text+'","type":"say","fromid":"'+fromid+'","toid":"'+toid+'"}'//json对象
        $('#express').append('<p style="float: right">' + '我: ' + text + '</p><br>');
        ws.send(message);//send to websocket
    }

    function save_message(message) {
        $.post(
            API_URL+"save_message",
            message,
            function (){
                console.log('????');
            },'json'
        )
    }

</script>
</html>