.clearfix
  overflow auto
  _height 1%
.display-flex
  display flex
a
  font-weight bold
  cursor pointer
  // color #2c3e50
  &.router-link-exact-active
    // color #42b983!important
    color rgba(68, 138, 255, 0.8) !important
.bg-white
  background-color #fff
.container
  max-width 1024px
  margin 0 auto
.align-right
  text-align right
.align-center
  text-align center
.cursor-pointer
  cursor pointer
.hidden
  position absolute
  width 0
  height 0
  visibility hidden
  overflow hidden
.md-theme-default a:not(.md-button)
  color rgba(0, 0, 0, 0.87)
.md-card.no-shadow
  box-shadow none
.md-field.md-theme-default:after
  background-color rgba(0, 0, 0, 0.12)

/* pagination */
.m-page-item-num
  cursor pointer
.m-page-item-num.active
  cursor not-allowed
  background #005dd8
  color #fff
.m-page-item-num.active:hover
  background #005dd8
  color #fff
.m-page-btn
  cursor pointer
.pagination-container
  text-align center
.pagination-container.hidden
  display none
/* img animation */
img.scale
  transition transform .5s
  &:hover
    transform scale(1.2)

/* zeke */
.pay-tip
  opacity: 0.5
  margin-top: -18px
  font-size:14px
  color:red
.tx_dialog
  width: 40%
  padding: 0 20px
  
.tx_detail_dialog
  width: 60%
  padding: 0 20px
  font-weight: 700
  
.tx_dialog .md-title
  padding-left: 0;

.readonly_input
  cursor: not-allowed

.token 
  color: red
  font-weight: 700

.vote-table .md-table-row .md-table-cell
  font-size: 14px
  color: black

.vote-table
  padding-top: 20px

.vote-table-row 
  cursor: pointer
.vote-detail 
  font-size: 18px
  font-weight: 700
  padding-left: 25px!important

